[project]
	description = Grafana (3.x) Gnocchi datasource
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Julien Danjou (jd)
[access "refs/for/refs/*"]
	read = group user/Julien Danjou (jd)
	push = group user/Julien Danjou (jd)
	label-Code-Review = -2..+2 group user/Julien Danjou (jd)
	label-Verified = -1..+1 group user/Julien Danjou (jd)
	rebase = group user/Julien Danjou (jd)
	removeReviewer = group user/Julien Danjou (jd)
	submit = group user/Julien Danjou (jd)
[access "refs/heads/*"]
	read = group user/Julien Danjou (jd)
	create = group user/Julien Danjou (jd)
	push = +force group user/Julien Danjou (jd)
	pushMerge = group user/Julien Danjou (jd)
[access "refs/tags/*"]
	push = group user/Julien Danjou (jd)
	push = +force group user/Julien Danjou (jd)
